.cabecalho-moda{
    background-color: #bb86fc;
    color: #ffffff;
}

.cabecalho-casa{
    background-color: #00c4b4;
    color: #ffffff;
}

.informacao-produto{
    background-color: #424250;
    color: #ffffff;
}